<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>{{family.getFamilyNameLongForm()}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="family?.familyMembers.length > 0">
      <p [style.margin]="'0 8px 5px'">Click to view health record for:</p>
      <mat-grid-list cols="1" rowHeight="fit" [style.height.px]="40*family.familyMembers.length">
        <mat-grid-tile *ngFor="let familyMember of family.familyMembers">
          <cnstll-family-member-menu-item [familyMember]="familyMember"
                                          (selectFamilyMember)="doSelectFamilyAndFamilyMember($event)"
                                          [hasConsents]="hasConsents[familyMember.nhsNumber]"></cnstll-family-member-menu-item>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div *ngIf="family?.familyMembers.length == 0">
      <p>
        No family members entered yet.<br/>Close this panel and click Edit to add members.
      </p>
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="closePanel()">Back to Case Management Screen</button>
    </mat-card-actions>
</mat-card>
