span.closeCard:hover {
  color: dodgerblue;
  cursor: pointer;
}


mat-icon.personIcon {
  color: dodgerblue !important;
}

mat-icon.hasConsentsIcon {
  color: green !important;
}

mat-icon.noConsentsIcon {
  color: red !important;
}

mat-icon.unknownConsentsIcon {
  color: orange !important;
}
