<mat-table #locationTable [dataSource]="locationDataSource">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let location"> {{location.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let location"> {{location.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell *matCellDef="let location">
            <mat-card>
                <mat-card-subtitle>Id</mat-card-subtitle><mat-card-content>{{location.address.id}}</mat-card-content>
                <mat-card-subtitle>Post Code</mat-card-subtitle><mat-card-content>{{location.address.postCode}}</mat-card-content>
                <mat-card-subtitle>House Name/Flat</mat-card-subtitle><mat-card-content>{{location.address.houseNameFlat}}</mat-card-content>
                <mat-card-subtitle>Street</mat-card-subtitle><mat-card-content>{{location.address.street}}</mat-card-content>
                <mat-card-subtitle>Village</mat-card-subtitle><mat-card-content>{{location.address.village}}</mat-card-content>
                <mat-card-subtitle>Town</mat-card-subtitle><mat-card-content>{{location.address.town}}</mat-card-content>
                <mat-card-subtitle>County</mat-card-subtitle><mat-card-content>{{location.address.county}}</mat-card-content>
            </mat-card>
       </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="locationDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: locationDisplayedColumns;"></mat-row>
</mat-table>
<mat-paginator #locationPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 100]" [showFirstLastButtons]="true"></mat-paginator>
