<mat-tab-group>
    <mat-tab label="Persons">
        <cnstll-mig-admindomain-persons [persons]="information.persons"></cnstll-mig-admindomain-persons>
    </mat-tab>
    <mat-tab label="Patients">
        <cnstll-mig-admindomain-patients [patients]="information.patients"></cnstll-mig-admindomain-patients>
    </mat-tab>
    <mat-tab label="Organisations">
        <cnstll-mig-admindomain-organisations [organisations]="information.organisations"></cnstll-mig-admindomain-organisations>
    </mat-tab>
    <mat-tab label="Locations">
        <cnstll-mig-admindomain-locations [locations]="information.locations"></cnstll-mig-admindomain-locations>
    </mat-tab>
    <mat-tab label="Users">
        <cnstll-mig-admindomain-users [users]="information.users"></cnstll-mig-admindomain-users>
    </mat-tab>
    <mat-tab label="Roles">
        <cnstll-mig-admindomain-roles [roles]="information.roles"></cnstll-mig-admindomain-roles>
    </mat-tab>
    <mat-tab label="User In Roles">
        <cnstll-mig-admindomain-userinroles [userInRoles]="information.userInRoles"></cnstll-mig-admindomain-userinroles>
    </mat-tab>
</mat-tab-group>
