<mat-table #eventTable [dataSource]="eventDataSource">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{event.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="patient">
        <mat-header-cell *matHeaderCellDef> Patient </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{event.patient}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="mappedPatient">
        <mat-header-cell *matHeaderCellDef> Patient </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{patientMapping(event.patient)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="eventType">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{event.eventType}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="effectiveTime">
        <mat-header-cell *matHeaderCellDef> When </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{event.effectiveTime | date:'dd/MM/yy'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="availabilityTimeStamp">
        <mat-header-cell *matHeaderCellDef> Available </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{event.availabilityTimeStamp | date:'dd/MM/yy'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="authorisingUserInRole">
        <mat-header-cell *matHeaderCellDef> Authorising User In Role </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{event.authorisingUserInRole}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="mappedAuthorisingUserInRole">
        <mat-header-cell *matHeaderCellDef> Authorised by </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{userInRoleMapping(event.authorisingUserInRole)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="enteredByUserInRole">
        <mat-header-cell *matHeaderCellDef> Entered By User In Role </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{event.enteredByUserInRole}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="mappedEnteredByUserInRole">
        <mat-header-cell *matHeaderCellDef> Entered by </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{userInRoleMapping(event.enteredByUserInRole)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
        <mat-cell *matCellDef="let event">
            <mat-card *ngIf="event.code">
                <mat-card-subtitle>Display Name</mat-card-subtitle><mat-card-content>{{event.code.displayName}}</mat-card-content>
                <mat-card-subtitle>Code</mat-card-subtitle><mat-card-content>{{event.code.code}}</mat-card-content>
                <mat-card-subtitle>Code System</mat-card-subtitle><mat-card-content>{{event.code.codeSystem}}</mat-card-content>
            </mat-card>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="displayTerm">
        <mat-header-cell *matHeaderCellDef> Detail </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{event.displayTerm}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="organisation">
        <mat-header-cell *matHeaderCellDef> Organisation </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{event.organisation}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="mappedOrganisation">
        <mat-header-cell *matHeaderCellDef> Organisation </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{organisationMapping(event.organisation)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="observation">
        <mat-header-cell *matHeaderCellDef> Observation </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{event.observation | json}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="eventDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: eventDisplayedColumns;"></mat-row>
</mat-table>
<mat-paginator #eventPaginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 100]" [showFirstLastButtons]="true"></mat-paginator>
