<mat-tab-group [selectedIndex]="0">
    <mat-tab label="Events">
      <cnstll-mig-healthdomain-events [format]="format" [events]="information.events"></cnstll-mig-healthdomain-events>
    </mat-tab>
    <mat-tab label="Problems">
      <cnstll-mig-healthdomain-problems [format]="format" [problems]="information.problems"></cnstll-mig-healthdomain-problems>
    </mat-tab>
    <mat-tab label="Encounters">
        <cnstll-mig-healthdomain-encounters [format]="format" [encounters]="information.encounters"></cnstll-mig-healthdomain-encounters>
    </mat-tab>
</mat-tab-group>
