span.family-name, label {
  margin-right: 5px;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}


mat-icon.personIcon,
mat-icon.createIcon {
  color: dodgerblue !important;
}

mat-icon.hasConsentsIcon {
  color: green !important;
}

mat-icon.noConsentsIcon {
  color: red !important;
}

mat-icon.unknownConsentsIcon {
  color: orange !important;
}
