.mat-menu,
.mat-menu-item,
.mat-menu-item-content,
.mat-list,
.mat-list-item,
.mat-list-item-content
{
  padding:0;
}

.mat-menu-item .mat-icon {
  margin-right:0px;
}

mat-icon.personIcon {
  color:dodgerblue !important;
}

mat-icon.hasConsentsIcon {
  color:green !important;
}

mat-icon.noConsentsIcon {
  color:red !important;
}

mat-icon.unknownConsentsIcon {
  color:orange !important;
}
