<mat-table #eventTable [dataSource]="eventDataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="patient">
    <mat-header-cell *matHeaderCellDef> Patient </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.patient}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="dataType">
    <mat-header-cell *matHeaderCellDef> Event </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.dataType}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="eventType">
    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.eventType}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="startTime">
    <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.startTime | date:'dd/MM/yy'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="endTime">staff
    <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.hideEndTime ? '' : event.endTime | date:'dd/MM/yy'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="availabilityTime">
    <mat-header-cell *matHeaderCellDef> Available </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.availabilityTime | date:'dd/MM/yy'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="authorisingUserInRole">
    <mat-header-cell *matHeaderCellDef> Authorised by </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.authorisingUserInRole}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="enteredByUserInRole">
    <mat-header-cell *matHeaderCellDef> Entered by </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.enteredByUserInRole}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.code}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.description}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="organisation">
    <mat-header-cell *matHeaderCellDef> Organisation </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.organisation}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="significance">
    <mat-header-cell *matHeaderCellDef> Significance </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.significance}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="eventDisplayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: eventDisplayedColumns;"></mat-row>
</mat-table>
<mat-paginator #eventPaginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 100]" [showFirstLastButtons]="true"></mat-paginator>
