<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>SILVER Constellation of Care</span>
        <span class="toolbar-spacer"></span>
        <button mat-button (click)="doOpenLoginDialog()">
            <mat-icon>person</mat-icon>
            <span *ngIf="username">{{username}}</span>
            <span *ngIf="! username">Login</span>
        </button>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="username">
        <button mat-button (click)="familiesdrawer.toggle(); informationsdrawer.close()">
            <mat-icon>group</mat-icon>
            <span>Families</span>
        </button>
        <button mat-button (click)="informationsdrawer.toggle(); familiesdrawer.close()">
            <mat-icon>info</mat-icon>
            <span>Information</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container style="height: 100%">
    <mat-drawer #familiesdrawer position="start" mode="side">
        <cnstll-family-bookmarks (closeSelect)="familiesdrawer.close()" (familySelect)="family.doShowFamily($event)"></cnstll-family-bookmarks>
    </mat-drawer>

    <mat-drawer #informationsdrawer position="end" mode="side">
        <cnstll-information-bookmarks (closeSelect)="informationsdrawer.close()" (organizationSelect)="organization.doShowOrganization($event)" (dataSourceSelect)="datasource.doShowDataSource($event)" (accessProcessSelect)="accessprocess.doShowAccessProcess($event)"></cnstll-information-bookmarks>
    </mat-drawer>

    <cnstll-family #family></cnstll-family>

    <mat-divider [inset]="true"></mat-divider>

    <cnstll-access-process #accessprocess></cnstll-access-process>

    <cnstll-data-source #datasource></cnstll-data-source>

    <cnstll-organization #organization></cnstll-organization>
</mat-drawer-container>
