<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>SILVER Constellation of Care</span>
        <span class="toolbar-spacer"></span>
        <button mat-button *ngIf="group"><mat-icon>group</mat-icon> {{group}} </button>
        <button mat-button *ngIf="org"><mat-icon>domain</mat-icon> {{org}} </button>
        <button mat-button (click)="doOpenLoginDialog()">
            <mat-icon>person</mat-icon>
            <span *ngIf="username"> {{username}} </span>
            <span *ngIf="! username"> Login </span>
        </button>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="username">
        <button mat-button (click)="familiesdrawer.toggle()">
            <mat-icon>group</mat-icon>
            <span>Families</span>
        </button>
        <button mat-button (click)="requesttypesdrawer.toggle()">
            <mat-icon>view_list</mat-icon>
            <span>Request Types: {{requestTypeCode}}</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container style="height: 100%">
    <mat-drawer #familiesdrawer position="start" mode="side">
        <cnstll-family-bookmarks (closeSelect)="familiesdrawer.close()" (familySelect)="miginformation.doLoadInformation(null, requestTypeCode); espfhirresolution.doLoadResolution(null); family.doShowFamily($event)"></cnstll-family-bookmarks>
    </mat-drawer>

    <mat-drawer #requesttypesdrawer position="end" mode="side">
        <mat-card>
            <mat-card-title>
                <mat-icon>view_list</mat-icon> Request Types
                <button mat-icon-button (click)="requesttypesdrawer.close()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-card-title>
            <mat-card-content>
                <mat-radio-group fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1em" (change)="miginformation.doLoadInformation(null,
requestTypeCode); espfhirresolution.doLoadResolution(null)" [(ngModel)]="requestTypeCode">
                    <mat-radio-button fxFlex *ngFor="let requestType of requestTypes" [value]="requestType.code">{{requestType.label}}</mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>
    </mat-drawer>

    <cnstll-family #family (selectMIG)="miginformation.doLoadInformation($event, requestTypeCode); espfhirresolution.doLoadResolution(null)" (selectESPFHIR)="miginformation.doLoadInformation(null, requestTypeCode); espfhirresolution.doLoadResolution($event)"></cnstll-family>

    <mat-divider [inset]="true"></mat-divider>

    <cnstll-mig-information #miginformation></cnstll-mig-information>

    <cnstll-espfhir-resolution #espfhirresolution (loadedIdentifier)="espfhirinformation.doLoadInformation($event)"></cnstll-espfhir-resolution>

    <cnstll-espfhir-information #espfhirinformation></cnstll-espfhir-information>
</mat-drawer-container>
