<button mat-button [matMenuTriggerFor]="personMenu">
  <mat-icon>person</mat-icon>
  <span *ngIf="familyMember" title="Click to change person">{{familyMember.getFullName()}}</span>
  <span *ngIf="!familyMember">&lt;select person&gt;</span>
</button>
<mat-menu #personMenu="matMenu">
  <mat-list>
    <mat-list-item *ngFor="let familyMember of family.familyMembers; index as index; last as last">
      <cnstll-family-member-menu-item [familyMember]="familyMember"
                            (selectFamilyAndFamilyMember)="doSelectFamilyAndFamilyMember($event)"></cnstll-family-member-menu-item>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-menu>
