<mat-tab label="Problems">
    <mat-table #problemTable [dataSource]="problemDataSource">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let problem"> {{problem.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let problem"> {{problem.status}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="significance">
            <mat-header-cell *matHeaderCellDef> Significance </mat-header-cell>
            <mat-cell *matCellDef="let problem"> {{problem.significance}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="expectedDuration">
            <mat-header-cell *matHeaderCellDef> Expected Duration </mat-header-cell>
            <mat-cell *matCellDef="let problem"> {{problem.expectedDuration}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="endTime">
            <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
            <mat-cell *matCellDef="let problem"> {{problem.endTime}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="problemDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: problemDisplayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #problemPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 100]" [showFirstLastButtons]="true"></mat-paginator>
</mat-tab>
