<h2 mat-dialog-title>Patient Search</h2>
<mat-dialog-content>
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <input #givenname matInput placeholder="Given name" type="text" [(ngModel)]="givenName" value="">
            </mat-form-field>
            <span>&nbsp;</span>
            <mat-form-field>
                <input #familyname matInput placeholder="Family name" type="text" [(ngModel)]="familyName" value="">
            </mat-form-field>
            <br>
            <span> Gender: </span>
            <mat-radio-group [(ngModel)]="gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <span>&nbsp;</span>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <span>&nbsp;</span>
                <mat-radio-button value="Unknown" checked="true">Unknown</mat-radio-button>
                <span>&nbsp;</span>
                <mat-radio-button value="Indeterminate">Indeterminate</mat-radio-button>
            </mat-radio-group>
            <br>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Date of Birth" [(ngModel)]="dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="multi-year"></mat-datepicker>
            </mat-form-field>
            <p *ngIf="message">{{message}}</p>
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="doPatientTrace()">
        <mat-icon>search</mat-icon>
        <span>Search</span>
    </button>
    <button mat-button mat-dialog-close>
        <mat-icon>clear</mat-icon>
        <span>Cancel</span>
    </button>
</mat-dialog-actions>
