<mat-card *ngIf="information || loading">
    <mat-card-title *ngIf="information">Medical Information Gateway: {{information.nhsNumber}}</mat-card-title>

    <mat-card-title *ngIf="! information">Medical Information Gateway</mat-card-title>

    <mat-card-content *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>

    <mat-card-content *ngIf="information && (information.status === 'Success')">
        <mat-tab-group>
            <mat-tab label="Admin Domain">
                <cnstll-mig-admindomain [information]="information"></cnstll-mig-admindomain>
            </mat-tab>
            <mat-tab label="Health Domain">
                <cnstll-mig-healthdomain [information]="information"></cnstll-mig-healthdomain>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>

    <mat-card-content *ngIf="information && (information.status === 'No Consent')">
        <h3>No Consent has been given.</h3>
    </mat-card-content>

    <mat-card-content *ngIf="information && (information.status === 'Failed')">
        <h3>The request for information has failed.</h3>
    </mat-card-content>
</mat-card>
