<mat-card *ngIf="information || loading">
  <mat-drawer-container style="height: 100%">
    <mat-drawer-content #timelineDrawer>
      <mat-card-title *ngIf="information && familyMember">
        Health Information for {{familyMember.getFullName()}} (NHS No. {{information.nhsNumber}})
      </mat-card-title>
      <mat-card-content *ngIf="loading">
        <h4>Loading health information for {{familyMember.getFullName()}}...</h4>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
      <mat-card-content *ngIf="information && (information.status === 'Success')">
        <cnstll-problems-timeline [events]="information.events"></cnstll-problems-timeline>
      </mat-card-content>

      <mat-card-content *ngIf="information && (information.status === 'No Consent')">
        <h3>No Consent has been given.</h3>
      </mat-card-content>

      <mat-card-content *ngIf="information && (information.status === 'Failed')">
        <h3>The request for information has failed.</h3>
      </mat-card-content>
    </mat-drawer-content>
    <mat-drawer *ngIf="information && familyMember" opened #constellationDrawer position="end" mode="side">
      <cnstll-constellation [information]="information"></cnstll-constellation>
    </mat-drawer>
  </mat-drawer-container>
</mat-card>
