<mat-card *ngIf="information || loading">
  <mat-drawer-container style="height: 100%">
    <mat-drawer-content #timelineDrawer>
      <mat-card-title *ngIf="information && familyMember">
        Health Information for {{familyMember.getFullName()}} (NHS No. {{information.nhsNumber}})
      </mat-card-title>
      <mat-card-content *ngIf="loading">
        <h4>Loading health information for {{familyMember.getFullName()}}...</h4>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
      <mat-card-content *ngIf="information && (information.status === 'Success')">
        <mat-tab-group>
          <mat-tab label="Timeline">
            <cnstll-mig-health-timeline [unified_events]="unified_events"></cnstll-mig-health-timeline>
          </mat-tab>
          <mat-tab label="Medical Event Log">
            <cnstll-mig-healthdomain-unified-events [unified_events]="unified_events"></cnstll-mig-healthdomain-unified-events>
          </mat-tab>
          <mat-tab label="Documents">
            <cnstll-mig-healthdomain-documents [format]="format" [documents]="information.documents"></cnstll-mig-healthdomain-documents>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
      <mat-card-content *ngIf="information && (information.status === 'No Consent')">
        <h3>No Consent has been given. Please go back and ensure consent for this case has been sought and recorded for this individual.</h3>
      </mat-card-content>

      <mat-card-content *ngIf="information && (information.status === 'Failed')">
        <h3>The request for information has failed. If this problem persists, please contact the SILVER project team.</h3>
      </mat-card-content>
    </mat-drawer-content>
    <mat-drawer *ngIf="information && familyMember" opened #constellationDrawer position="end" mode="side">
      <cnstll-constellation [information]="information"></cnstll-constellation>
    </mat-drawer>
  </mat-drawer-container>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="closePanel()"><span [style.textAlign]="'center'">Back to Family</span></button>
  </mat-card-actions>
</mat-card>
