<mat-card *ngIf="organization">
    <mat-card-title><mat-icon>domain</mat-icon> Organization </mat-card-title>
    <mat-card-content>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title><mat-icon>business</mat-icon> Organization: {{organization.name}} </mat-panel-title>
            </mat-expansion-panel-header>

        </mat-expansion-panel>

        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-content>
</mat-card>
