<mat-card>
    <mat-card-title>
        <mat-icon>group</mat-icon> Families
        <button mat-icon-button (click)="doClose()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content>
        <mat-list-item *ngFor="let family of families; index as index"><button mat-button (click)="doFamilySelect(family.id)">{{familyNames[index]}}</button></mat-list-item>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-content>
</mat-card>
