/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div.form-row {
  display: block;
  line-height: 1.7em;
}

.mat-card-header-text {
  margin: 0 auto 10px !important;
}

.mat-card-actions {
  justify-content: center;
  display: flex !important;
  padding-bottom:10px;
}

.consented {
  color:#8db600;
}

.not-consented {
  color: #d1001c;
}

.already-consented {
  color: #ff5c00;
}

button.mat-stroked-button {
  margin-left: 4px;
  margin-right: 4px;
}

