<mat-table #userTable [dataSource]="userDataSource">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="userPerson">
        <mat-header-cell *matHeaderCellDef> User Person </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.userPerson}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="mnemonic">
        <mat-header-cell *matHeaderCellDef> Mnemonic </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.mnemonic}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="userDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: userDisplayedColumns;"></mat-row>
</mat-table>
<mat-paginator #userPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 100]" [showFirstLastButtons]="true"></mat-paginator>
